* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  outline: none !important; }

html, body {
  height: 100%; }

body {
  font-family: 'FuturaBook',sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #333333;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  color: #fff;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }

header {
  padding-top: 210px;
  height: 870px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url("../img/header.png"); }

section {
  min-height: 400px;
  padding-top: 80px;
  margin-top: -80px; }

footer {
  width: 100%;
  text-align: center;
  padding: 150px 20px 74px 20px;
  background-position: center 80px;
  background-repeat: no-repeat;
  background-size: 196px;
  color: #172044; }

h1, h2, h3 {
  font-family: "FuturaDemi", sans-serif;
  font-weight: normal; }

h1 {
  font-size: 70px;
  line-height: 70px;
  border-bottom: 8px solid;
  padding-bottom: 14px; }

h2 {
  font-size: 35px;
  line-height: 30px;
  margin: 0 0 35px 0;
  text-transform: uppercase; }
  h2.title {
    text-align: center;
    padding-top: 120px;
    margin-bottom: 54px; }

h3 {
  font-size: 24px;
  line-height: 26px;
  margin: 0 0 16px;
  text-transform: uppercase; }

p {
  margin: 0 0 28px 0; }
  p:last-child {
    margin-bottom: 0; }

.container {
  margin: 0 auto;
  max-width: 1680px;
  padding: 0 40px; }

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  margin-left: -20px;
  margin-right: -20px; }
  .grid.between {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .grid.center {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .grid .column {
    display: inline-block;
    vertical-align: top;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    max-width: 320px;
    width: 20%; }
    .grid .column img {
      width: 100%;
      height: auto;
      display: block; }

.box-blue {
  background-color: #172044;
  color: #fff; }

.hide {
  display: none !important; }

.map {
  background: #c9c9c9; }

.item {
  position: relative; }

nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100; }
  nav ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0; }
    nav ul li {
      font-size: 22px; }
      nav ul li a {
        text-decoration: none; }
  nav .nav-default {
    text-align: center;
    padding: 40px 0 20px;
    -webkit-transition: background 0.2s, padding 0.2s;
    -moz-transition: background 0.2s, padding 0.2s;
    -ms-transition: background 0.2s, padding 0.2s;
    -o-transition: background 0.2s, padding 0.2s;
    transition: background 0.2s, padding 0.2s; }
    nav .nav-default ul {
      display: inline-block;
      position: relative; }
      nav .nav-default ul li {
        margin: 0 10px;
        display: inline-block; }
        nav .nav-default ul li a {
          border-bottom-width: 1px;
          border-bottom-style: solid;
          border-bottom-color: transparent; }
          nav .nav-default ul li a:hover {
            border-bottom-color: inherit; }
        nav .nav-default ul li.current a {
          color: #0b36e4 !important; }
          nav .nav-default ul li.current a:hover {
            border-bottom: none; }
      nav .nav-default ul:after {
        content: '';
        width: 114px;
        height: 21px;
        background-repeat: no-repeat;
        left: -180px;
        top: 4px;
        position: absolute;
        opacity: 0;
        -webkit-transition: opacity 0.2s;
        -moz-transition: opacity 0.2s;
        -ms-transition: opacity 0.2s;
        -o-transition: opacity 0.2s;
        transition: opacity 0.2s; }
  nav.fix .nav-default {
    background: #fff;
    padding: 25px 0;
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1); }
    nav.fix .nav-default ul li a {
      color: #172044; }
    nav.fix .nav-default ul:after {
      opacity: 1; }
  nav .nav-mobile {
    display: none;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center; }
    nav .nav-mobile .mobile-list {
      display: none;
      background: #172044;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      -webkit-transform: translateY(50px);
      -moz-transform: translateY(50px);
      -ms-transform: translateY(50px);
      -o-transform: translateY(50px);
      transform: translateY(50px);
      max-height: -moz-calc(100vh - 50px);
      max-height: -webkit-calc(100vh - 50px);
      max-height: calc(100vh - 50px);
      overflow-y: auto; }
      nav .nav-mobile .mobile-list li a {
        display: block;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        padding: 5px; }
        nav .nav-mobile .mobile-list li a:hover {
          background-color: #ffffff;
          color: #172044; }
      nav .nav-mobile .mobile-list li.current a {
        background-color: #ffffff;
        color: #172044; }

.intro {
  background-repeat: no-repeat;
  background-position: center 80px;
  background-size: 220px;
  text-align: center;
  padding: 180px 65px 56px 65px;
  width: 590px;
  margin: 0 auto; }
  .intro .btn-set {
    margin-top: 40px; }
    .intro .btn-set button {
      padding-left: 0;
      padding-right: 0;
      width: 148px; }

.about-slide {
  width: 50%;
  margin-left: 50%;
  position: relative;
  padding: 140px 8% 120px 10.5%; }
  .about-slide:after {
    content: '';
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url("../img/about.png");
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%; }

.catalog .grid .column {
  margin-left: 4%;
  margin-right: 4%; }
  .catalog .grid .column .item {
    display: block;
    color: #333333;
    text-decoration: none;
    margin-bottom: 40px; }
    .catalog .grid .column .item img {
      margin-bottom: -30px; }
    .catalog .grid .column .item h1 {
      display: inline-block;
      margin: 0;
      -webkit-transition: color 0.3s;
      -moz-transition: color 0.3s;
      -ms-transition: color 0.3s;
      -o-transition: color 0.3s;
      transition: color 0.3s; }
    .catalog .grid .column .item:hover h1 {
      color: #0b36e4; }
    .catalog .grid .column .item:before {
      content: '';
      position: absolute;
      top: 24px;
      left: 0;
      width: 84px;
      height: 84px;
      background-position: center center;
      background-repeat: no-repeat;
      -webkit-background-size: contain;
      -moz-background-size: contain;
      -o-background-size: contain;
      background-size: contain;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      z-index: 2; }
  .catalog .grid .column p {
    font-size: 22px;
    line-height: 24px;
    margin: 0 0 10px 0; }

.clients .grid {
  padding-bottom: 70px; }
  .clients .grid .column {
    text-align: center;
    padding-bottom: 20px; }
    .clients .grid .column p {
      font-size: 24px;
      line-height: 24px;
      margin: 24px 0 0 0; }

.team .slider {
  position: relative; }
.team .item {
  font-family: "FuturaBook", sans-serif;
  text-align: center; }
  .team .item img {
    display: block;
    width: 100%;
    height: auto; }
  .team .item .name {
    font-size: 24px;
    line-height: 24px;
    margin: 24px 0 14px 0; }
  .team .item .role {
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase; }

.market .map {
  height: 480px;
  width: 100%; }
.market .grid .column h1 {
  margin: 0 0 30px;
  display: inline-block;
  border-bottom-color: #0b36e4;
  padding-bottom: 10px;
  padding-right: 20px; }
.market .grid .column p {
  line-height: 26px;
  padding-left: 34px; }

.contacts .right {
  position: relative;
  min-height: 480px;
  padding-bottom: 50px; }
  .contacts .right .map {
    height: 480px;
    position: absolute;
    right: 0;
    left: 44%;
    z-index: 2; }
  .contacts .right .column {
    margin-bottom: 0 !important; }
.contacts .item {
  margin-bottom: 50px;
  padding-left: 34px;
  cursor: pointer; }
  .contacts .item:last-child {
    margin-bottom: 0; }
  .contacts .item h3 {
    padding: 7px 10px 4px 10px;
    margin: -7px 0 16px -10px;
    display: inline-block;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  .contacts .item p {
    line-height: 24px;
    margin: 0; }
  .contacts .item:hover h3 {
    background-color: #fff;
    color: #172044; }

/*# sourceMappingURL=base.css.map */
