@media screen and (max-width: 1750px) {
  .owl-nav div {
    background: transparent;
    width: 40px; } }
@media screen and (max-width: 1630px) {
  .catalog .grid .column .item h1 {
    font-size: 60px;
    line-height: 60px; } }
@media screen and (max-width: 1400px) {
  .catalog .grid .column .item img {
    margin-bottom: 26px; } }
@media screen and (max-width: 1281px) {
  .catalog .grid .column {
    margin-right: 0;
    margin-left: 0; }

  .grid .column {
    width: 33.33333%; }

  .team .container {
    max-width: 1000px; }

  .owl-nav div {
    background: #26252e;
    width: 60px; }

  .catalog .grid .column .item:before {
    left: 40px; } }
@media screen and (max-width: 1050px) {
  .owl-nav div {
    background: transparent;
    width: 40px; } }
@media screen and (max-width: 1060px) {
  nav .nav-default ul:after {
    display: none; } }
@media screen and (max-width: 880px) {
  .catalog .grid .column .item h1 {
    font-size: 50px;
    line-height: 50px; }

  .contacts .item,
  .market .grid .column p {
    padding-left: 0; } }
@media screen and (max-width: 769px) {
  .intro {
    width: 80%; }

  .about-slide {
    width: 100%;
    margin-left: 0;
    padding: 90px 10% 60px 10%; }

  h2.title {
    padding-top: 64px; }

  .catalog .grid .column .item {
    margin-bottom: 30px; }

  .catalog .grid .column .item h1 {
    line-height: 46px;
    display: block; }

  .catalog .grid .column p {
    font-size: 18px;
    line-height: 20px; }

  .team .container {
    max-width: 600px; } }
@media screen and (max-width: 720px) {
  nav .nav-default {
    display: none; }
  nav .nav-mobile {
    display: block; }

  section {
    padding-top: 50px;
    margin-top: -50px; }

  .catalog .grid .column .item h1 {
    line-height: 36px;
    font-size: 36px; }

  .catalog .grid .column .item:before {
    top: 0; }

  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
@media screen and (max-width: 641px) {
  .grid {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .grid .column {
      width: 100%;
      margin-bottom: 40px; }
      .grid .column:last-child {
        margin-bottom: 0; }

  .catalog .grid .column .item:before {
    top: 24px;
    left: 20px; }

  .contacts .right .map {
    display: none; }

  .intro {
    padding: 180px 35px 56px 35px; }

  .team .container {
    max-width: 360px; }

  .owl-nav div {
    width: 65px; }

  h2.title {
    padding-left: 20px;
    padding-right: 20px; }

  footer {
    padding: 100px 20px 34px 20px;
    background-position: center 50px; } }
@media screen and (max-width: 510px) {
  header {
    padding-top: 260px;
    height: auto;
    position: relative; }
    header:after {
      content: '';
      position: absolute;
      height: 260px;
      top: 0;
      width: 100%;
      left: 0;
      background-repeat: no-repeat;
      background-position: center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-image: url("../img/header.png"); }

  .intro {
    width: 100%;
    background-image: none;
    padding: 40px 30px 40px 30px; }
    .intro .btn-set {
      overflow: hidden; }
      .intro .btn-set button {
        float: left;
        width: 50%;
        margin: 0; }

  h2 {
    font-size: 25px;
    line-height: 25px;
    margin: 0 0 28px 0; }

  .about-slide {
    padding: 22px 30px 60px 30px; }

  h2.title {
    padding-top: 50px;
    margin-bottom: 30px; }

  .catalog .grid .column .item h1 {
    font-size: 30px;
    line-height: 30px; }

  .clients .container {
    padding-left: 0;
    padding-right: 0; }
  .clients .grid {
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 36px; }
    .clients .grid .column {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      max-width: inherit;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      padding-bottom: 0;
      margin-bottom: 14px;
      text-align: left; }
      .clients .grid .column p {
        margin: 0 0 0 30px; }
      .clients .grid .column img {
        width: 34%; }

  footer {
    font-size: 14px;
    line-height: 20px;
    background-size: 140px;
    padding: 96px 20px 34px 20px;
    background-position: center 44px; } }

/*# sourceMappingURL=media.css.map */
