@import 'var';
@import 'mixin';

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  -ms-box-sizing:     border-box;
  -o-box-sizing:      border-box;
  box-sizing:         border-box;
  outline: none !important;
}

html,body {
  height: 100%;
}

body {
  font-family: 'FuturaBook',sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: $text;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #fff;
  @include transition(all 0.2s)
}

header {
  padding-top: 210px;
  height: 870px;
  @include back;
  background-image: url("../img/header.png");
}

section {
  min-height: 400px;
  padding-top: 80px;
  margin-top: -80px;
}

footer {
  width: 100%;
  text-align: center;
  padding: 150px 20px 74px 20px;
  background-position: center 80px;
  background-repeat: no-repeat;
  background-size: 196px;
  color: $blue;
}

h1, h2, h3 {
  font-family: $demi;
  font-weight: normal;
}

h1 {
  font-size: 70px;
  line-height: 70px;
  border-bottom: 8px solid;
  padding-bottom: 14px;
}

h2 {
  font-size: 35px;
  line-height: 30px;
  margin: 0 0 35px 0;
  text-transform: uppercase;

  &.title {
    text-align: center;
    padding-top: 120px;
    margin-bottom: 54px;
  }
}

h3 {
  font-size: 24px;
  line-height: 26px;
  margin: 0 0 16px;
  text-transform: uppercase;
}

p {
  margin: 0 0 28px 0;

  &:last-child {
    margin-bottom: 0;
  }
}

.container {
  margin: 0 auto;
  max-width: 1680px;
  padding: 0 40px;

  &.small {

  }
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient:     horizontal;
  -webkit-box-direction:  normal;
  -ms-flex-direction:     row;
  flex-direction:         row;

  -webkit-flex-wrap:  wrap;
  -ms-flex-wrap:      wrap;
  flex-wrap:          wrap;

  -webkit-box-align:  stretch;
  -ms-flex-align:     stretch;
  align-items:        stretch;

  margin-left: -20px;
  margin-right: -20px;

  &.between {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  &.center {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .column {
    display: inline-block;
    vertical-align: top;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    max-width: 320px;
    width: 20%;

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}

.box-blue {
  background-color: $blue;
  color: #fff;
}

.hide {
  display: none !important;
}

.map {
  background: $map;
}

.item {
  position: relative;
}


//-----navigate-----//
nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;

  ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;

    li {
      font-size: 22px;

      a {
        text-decoration: none;
      }
    }

  }

  .nav-default {

    text-align: center;
    padding: 40px 0 20px;
    @include transition(background 0.2s, padding 0.2s);

    ul {
      display: inline-block;
      position: relative;

      li {
        margin: 0 10px;
        display: inline-block;

        a {
          border-bottom-width: 1px;
          border-bottom-style: solid;
          border-bottom-color: transparent;

          &:hover {
            border-bottom-color: inherit;
          }
        }

        &.current {

          a {
            color: $active-blue !important;

            &:hover {
              border-bottom: none
            }
          }
        }
      }

      &:after {
        content: '';
        width: 114px;
        height: 21px;
        background-repeat: no-repeat;
        left: -180px;
        top: 4px;
        position: absolute;
        opacity: 0;
        @include transition(opacity 0.2s);
      }
    }

  }

  &.fix {

    .nav-default {
      background: #fff;
      padding: 25px 0;
      @include shadow(0px 1px 4px rgba(0,0,0,0.1));

      ul {

        li {
          a {
            color: $blue;
          }
        }

        &:after {
          opacity: 1;
        }
      }
    }
  }

  .nav-mobile {
    display: none;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;

    .mobile-list {
      display: none;
      background: $blue;
      border-bottom: 1px solid rgba(255,255,255,0.1);
      @include  transform(translateY(50px));
      @include calc(max-height,'100vh - 50px');
      overflow-y: auto;

      li {
         a {
           display: block;
           border-top: 1px solid rgba(255,255,255,0.1);
           padding: 5px;
           &:hover {
             background-color: #ffffff;
             color: $blue;
           }
         }
        &.current {
          a {
            background-color: #ffffff;
            color: $blue;
          }
        }
      }
    }
  }
}
//-----navigate END-----//


//-----intro-----//
.intro {
  background-repeat: no-repeat;
  background-position: center 80px;
  background-size: 220px;
  text-align: center;
  padding: 180px 65px 56px 65px;
  width: 590px;
  margin: 0 auto;

  .btn-set {
    margin-top: 40px;

    button {
      padding-left: 0;
      padding-right: 0;
      width: 148px;
    }
  }
}
//-----intro END-----//


//-----about-----//
.about-slide {
  width: 50%;
  margin-left: 50%;
  position: relative;
  padding: 140px 8% 120px 10.5%;

  &:after {
    content: '';
    @include back;
    background-image: url("../img/about.png");
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
  }
}
//-----about END-----//


//-----catalog-----//
.catalog {

  .grid {

    .column {
      margin-left: 4%;
      margin-right: 4%;

      .item {
        display: block;
        color: $text;
        text-decoration: none;
        margin-bottom: 40px;

        img {
          margin-bottom: -30px;
        }

        h1 {
          display: inline-block;
          margin: 0;
          @include transition(color 0.3s);
        }

        &:hover {

          h1 {
            color: $active-blue;
          }
        }

        &:before {
          content: '';
          position: absolute;
          top: 24px;
          left: 0;
          width: 84px;
          height: 84px;
          background-position: center center;
          background-repeat: no-repeat;
          -webkit-background-size: contain;
          -moz-background-size: contain;
          -o-background-size: contain;
          background-size: contain;
          @include transform(translateX(-50%));
          z-index: 2;
        }

      }

      p {
        font-size: 22px;
        line-height: 24px;
        margin: 0 0 10px 0;
      }
    }
  }
}
//-----catalog END-----//


//-----clients-----//
.clients {

  .grid {
    padding-bottom: 70px;

    .column {
      text-align: center;
      padding-bottom: 20px;

      p {
        font-size: 24px;
        line-height: 24px;
        margin: 24px 0 0 0;
      }
    }
  }
}
//-----clients END-----//


//-----team-----//
.team {

  .slider {
    position: relative;
  }

  .item {
    font-family: $book;
    text-align: center;

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    .name {
      font-size: 24px;
      line-height: 24px;
      margin: 24px 0 14px 0;
    }

    .role {
      font-size: 16px;
      line-height: 16px;
      text-transform: uppercase;
    }
  }

}
//-----team END-----//


//-----market-----//
.market {

  .map {
    height: 480px;
    width: 100%;
  }

  .grid {

    .column {

      h1 {
        margin: 0 0 30px;
        display: inline-block;
        border-bottom-color: $active-blue;
        padding-bottom: 10px;
        padding-right: 20px;
      }

      p {
        line-height: 26px;
        padding-left: 34px;
      }
    }
  }
}
//-----market END-----//


//-----contacts-----//
.contacts {

  .right {
    position: relative;
    min-height: 480px;
    padding-bottom: 20px;

    .map {
      height: 480px;
      position: absolute;
      right: 0;
      left: 44%;
      z-index: 2;
    }
  }

  .item {
    margin-bottom: 50px;
    padding-left: 34px;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }

    h3 {
      padding: 7px 10px 4px 10px;
      margin: -7px 0 16px -10px;
      display: inline-block;
      @include transition(all 0.3s);
    }

    p {
      line-height: 24px;
      margin: 0;
    }

    &:hover {

      h3 {
        background-color: #fff;
        color: $blue;
      }
    }
  }
}
//-----contacts END-----//





//@include calc(height,'100% - 134px');
//@include shadow(0 -10px 10px -3px #ffffff);
//@include transform(translateX(0));